/*==========================================================*/
/*==========================================================*/
/*==========================================================*/
/*==========================================================*/
/*==========================================================*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("../css/header.css");
@import url("../css/main.css");
@import url("../css/footer.css");
@import url("../css/classes.css");
@font-face {
  font-family: "Akzidenz-Grotesk BQ";
  src: url("../fonts/AkzidenzGroteskBQ-BdCnd.eot");
  src: url("../fonts/AkzidenzGroteskBQ-BdCnd.eot?#iefix") format("embedded-opentype"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff2") format("woff2"), url("../fonts/AkzidenzGroteskBQ-BdCnd.woff") format("woff"), url("../fonts/AkzidenzGroteskBQ-BdCnd.ttf") format("truetype"), url("../fonts/AkzidenzGroteskBQ-BdCnd.svg#AkzidenzGroteskBQ-BdCnd") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body {
  font-size: 14px;
  font-family: "Open Sans";
  color: #6c6c6c;
  font-weight: 400;
}
body.lock {
  overflow: hidden;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul, ol, li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

html, body {
  height: 100%;
  line-height: 1;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.welcome {
  background: #000;
  padding: 295px 0px 425px 0px;
}
.welcome__container {
  max-width: 795px;
  padding: 0 15px;
  margin: 0 auto;
  text-align: center;
}
.welcome__title {
  font-size: 44px;
  font-weight: 300;
  color: #929292;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.welcome__title span {
  color: #fcac45;
  font-weight: 700;
}
.welcome__description {
  color: #d4d4d4;
  font-size: 20px;
}
.welcome__description span {
  font-weight: 700;
}

/*========================================*/
.about {
  padding: 105px 0px;
}
.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about__column:last-child {
  padding-left: 157px;
}
.about__title {
  font-size: 34px;
  color: #222;
  text-transform: uppercase;
  padding-bottom: 32px;
}
.about__title span {
  font-weight: 700;
}
.about__title::after {
  content: "";
  background: #fcac45;
  height: 4px;
  width: 95%;
  margin-top: 21px;
  display: block;
  position: relative;
  left: 20%;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}
.about__description {
  line-height: 25px;
  max-width: 405px;
  font-size: 18px;
}
.about__advantages {
  padding-top: 35px;
}
.about__item {
  padding-bottom: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.about__text {
  font-size: 16px;
  font-style: italic;
  line-height: 20px;
}
.about__text span {
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  background: url("../img/main/about/icons/circle.png") no-repeat left;
  padding-left: 25px;
}

/*==================================*/
.team {
  background: #000;
  padding-top: 90px;
}
.team__cards {
  margin-top: 105px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 20px auto 20px auto 20px auto;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
}
.team__card {
  padding-bottom: 155px;
  text-align: center;
  color: #fff;
}
.team__image {
  background: #d7d7d7;
  border-radius: 100%;
  width: 120px;
  height: 120px;
  margin-bottom: 22px;
  margin: 0 auto 22px auto;
}
.team__name {
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 700;
}
.team__post {
  margin-bottom: 35px;
  font-size: 16px;
}
.team__description {
  max-width: 257px;
  text-align: center;
  line-height: 24px;
  margin: 0 auto;
}

/*==================================*/
.services {
  margin-top: 100px;
}
.services__cards {
  padding-top: 103px;
  display: -ms-grid;
  display: grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-grid-columns: auto 20px auto 20px auto 20px auto;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 20px;
}
.services__card {
  text-align: center;
  color: #000;
  margin-bottom: 100px;
}
.services__image {
  margin-bottom: 20px;
}
.services__title {
  margin-bottom: 22px;
}
.services__text {
  font-size: 14px;
  line-height: 21px;
}

/*==================================*/
.clients {
  background: #000;
  padding: 100px 0px 210px 0px;
}
.clients__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 140px;
  gap: 70px 25px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.clients__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*====================================*/
.works {
  padding: 100px 0px;
}
.works__gallery {
  margin-top: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 30px;
}
.works__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 38px;
}
.works__image {
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.works__image:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

/*====================================*/
.testimonials {
  background: #000;
  padding: 100px 0px 170px 0px;
}
.testimonials__container {
  color: #b2b2b2;
  font-size: 18px;
}
.testimonials__text {
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
  font-weight: 600;
  margin: 120px auto 0px auto;
  max-width: 950px;
  color: #e7e7e7;
  margin-bottom: 50px;
}
.testimonials__people {
  text-align: center;
}
.testimonials__people span {
  font-weight: 600;
}

/*=================================*/
.contacts {
  padding: 100px 0px;
}
.contacts__text {
  max-width: 745px;
  margin: 0 auto;
}
.contacts__form {
  margin-top: 100px;
}
.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.contacts__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 45%;
          flex: 1 0 45%;
  margin: 0px 30px 50px 0px;
}
.contacts__column:last-child {
  margin-right: 0px;
}
.contacts__label {
  margin-bottom: 10px;
}
.contacts__label::after {
  content: "*";
  color: red;
  margin-left: 4px;
}
.contacts__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contacts__button {
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.contacts__button:hover {
  background: #CA8A37;
}

@media (max-width: 1180px) {
  .works__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .works__image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 40%;
            flex: 0 0 40%;
  }
}
@media (max-width: 991.98px) {
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about__column:last-child {
    padding-left: 0px;
  }
  .about__image {
    padding-bottom: 60px;
  }
  .about__image img {
    width: 80%;
  }

  /*================================*/
  .team__cards {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }

  /*=======================*/
  .services__cards {
    -ms-grid-columns: 50% 50%;
    grid-template-columns: 50% 50%;
  }

  /*=====================*/
  .works {
    padding: 60px 0px;
  }
  .works__gallery {
    margin-top: 50px;
  }
  .works__image:not(:first-child) {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .welcome {
    padding: 185px 0px 210px;
  }
  .welcome__title {
    font-size: 30px;
    margin-bottom: 12px;
    line-height: 35px;
  }
  .welcome__description {
    font-size: 15px;
    line-height: 25px;
  }

  /*=============*/
  .about {
    padding: 50px 0px;
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about__column {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .about__column:last-child {
    padding-left: 0px;
  }
  .about .about__title {
    font-size: 28px;
  }
  .about .about__description {
    font-size: 15px;
  }
  .about__image {
    padding-bottom: 30px;
  }
  .about__image img {
    width: 60%;
  }

  /*================================*/
  .team__cards {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  /*================================*/
  .services__cards {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }

  /*====================================*/
  .works__image {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }

  /*==========================*/
  .testimonials {
    padding: 80px 0px 80px 0px;
  }
  .testimonials__container {
    font-size: 16px;
  }
  .testimonials__text {
    line-height: 20px;
    margin: 60px auto 30px auto;
  }

  /*====================================*/
  .contacts__column {
    -webkit-box-flex: 1;
        -ms-flex: 1 0 100%;
            flex: 1 0 100%;
  }
  .contacts__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 479.98px) {
  .about__title {
    font-size: 18px;
  }
  .about__description {
    font-size: 13px;
  }

  /*=================*/
  .welcome {
    padding: 180px 0px 240px;
  }
  .welcome__title {
    font-size: 30px;
  }
  .welcome__description {
    font-size: 15px;
  }

  /*=================*/
  .team {
    padding-top: 30px;
  }
  .team__cards {
    margin-top: 90px;
  }
  .team__card {
    padding-bottom: 90px;
  }

  /*=====================*/
  .services {
    margin-top: 50px;
  }
  .services__cards {
    padding-top: 53px;
  }
  .services__card {
    margin-bottom: 50px;
  }

  /*===========================*/
  .clients__image img {
    width: 70%;
  }

  /*====================================*/
  .contacts__column {
    margin: 0px 20px 30px 0px;
  }
}